.friendList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  margin-left: 30%;

}

.item {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-radius: 50%;
  margin-bottom: 10px;
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.online {
  background-color: green;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.offline {
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.name {
  font-size: 16px;
  color: #333;
}
