.statistics {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
border: 1px solid rgba(0, 0, 0, 0.5);
background-color: lightgray;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.statList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  
}

.label {
  font-size: 16px;
  color: #333;
}

.percentage {
  font-size: 16px;
  font-weight: bold;
  color: #0080ff;
}